body {
    background-image: linear-gradient(180deg, #9d48ec80,#d5a9ff80), url("https://www.colourbox.com/preview/18683996-asian-software-developers-business-people-sitting-desk-working.jpg");
  background-size: cover;
  background-position:60% 70%;
  height: 500px;
  width: 400px;
}

form {
border: 5px solid #1b1b32;
border-radius: 5px;
padding: 5px;
background-color:#1b1b32;
color: rgb(255,255,255);
}