html,
body {
    min-height: 100vh;
}


body {
    background-image: linear-gradient(180deg, #1f033880, #b98fe080), url("https://www.colourbox.com/preview/18683996-asian-software-developers-business-people-sitting-desk-working.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 80%;
    margin-top: 100px;
}

h1,
p {
    text-align: center;
    color: white;
}

form {
    border: 5px solid #1b1b3280;
    border-radius: 5px;
    padding: 5px;
    background-color: #1b1b3299;
    color: rgb(255, 255, 255);
    max-width: 700px;
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

label,
input,
button,
select,
textarea {
    display: block;
    margin: 20px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#number-label {
    margin-top: -10px;
    display: flex;
    align-items: center;
}

#number2 {
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 15px;
}

#name {
    width: 93%;
    height: 30px;
    font-size: 20px;
    box-sizing: border-box;
}

#email {
    width: 93%;
    height: 30px;
    font-size: 20px;
    box-sizing: border-box;
}

#number {
    margin-top: -15px;
    width: 93%;
    font-size: 20px;
    height: 30px;
    box-sizing: border-box;
}

#dropdown {
    width: 93%;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
}

#recommend-label {
    margin-top: 40px;
}

#dropdown-label2 {
    margin-top: 40px;
}

#improved-label {
    margin-top: 40px;
}

#dropdown2 {
    width: 93%;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
}

textarea{
    width: 93%;
    height: 150px;
    font-size: 20px;
}

#submit{
    width: 93%;
}